@using Microsoft.AspNetCore.Http

@if (Context.Session.GetString("UserRole") == null)
{
	Context.Response.Redirect("/Auth/Login");
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - IMSMIS</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/IMSMIS.styles.css" asp-append-version="true" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Solway:wght@300;400;500;700;800&display=swap" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
	<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
	<style>
		#projectList {
			padding: 20px;
			margin: 0;
		}

			#projectList li {
				cursor: pointer;
				background-color: #fff;
				font-size: 16px;
				padding: 15px 0 15px 15px;
				list-style: circle;
			}

				#projectList li.highlighted {
					color: #34495E;
					background-color: #D6EAF8;
					list-style: circle;
					padding-left: 20px;
				}
	</style>
</head>
<body>
	<div class="sidebar">
		<div class="sidebar-head">
			<img src="/Images/CP1.png" alt="Centered Image" style="height:50px; width:100%;">
			<hr>
		</div>
		<ul>

				<li>
					<a href="/Dashboard/Dashboard" class="dashboard" id="dashboard-link">
						<i class="ri-dashboard-line"></i>
						Dashboard
					</a>
				</li>


			<li>
				<a href="/Tasks/Tasks" class="tasks" id="tasks-link">
					<i class="ri-task-line"></i>
					Tasks
				</a>
			</li>

				<li>
					<a href="/User/Users" class="assignee" id="assignee-link">
						<i class="ri-user-received-fill"></i>
						Users
					</a>
				</li>


			<li>
				<a href="/Reports/Reports" class="reports" id="reports-link">
					<i class="ri-file-list-line"></i>
					Reports
				</a>
			</li>

			<li>
				<a href="/Tools/Tools" class="reports" id="tools-link">
					<i class="ri-file-list-line"></i>
					Tools
				</a>
			</li>
		</ul>
	</div>
	<div class="content">
		<nav class="navbar navbar-expand-lg ">
			<div class="container-fluid">

				<div class="navbar-collapse" id="navbarNavDropdown" style="display:flex;justify-content:end; border-bottom:1px solid gray;">
					<h2></h2>
					<ul class="navbar-nav ms-auto" style="display:flex; align-items:center;">
						<div class="notification" style="margin-right:5px;">
							<ul class="notification-drop" >
								<li class="item" style="list-style:none;">
									<img src="/Images/Doorbell.png" class="notification-bell" style="margin-right:-10px;" aria-hidden="true">
									<span id="notificationBadge" class="btn__badge pulse-button"></span>
									<ul id="projectList" style="padding:10px;">
									</ul>
								</li>
							</ul>
						</div>


						<li class="nav-item dropdown">


							<a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<span id="user-initial" style=" position:relative;"></span>

							</a>


							<ul class="dropdown-menu dropdown-menu-end">
								<li><a class="dropdown-item" asp asp-action="Profile" asp-controller="Auth" id="logout">Profile</a></li>
								<li><a class="dropdown-item" asp asp-action="Logout" asp-controller="Auth" id="logout">Logout</a></li>

							</ul>
						</li>
						<label style="line-height:1rem;">
							<a style="font-size:15px; font-weight:bold;">@Context.Session.GetString("UserName")</a>
							<br>
							<a style="font-size:12px;font-weight:normal;">@Context.Session.GetString("UserRole")</a>
						</label>
					</ul>
				</div>
			</div>

		</nav>
		<div style="padding:5px;">
			@RenderBody()
		</div>
	</div>
	@{

		var username = @Context.Session.GetString("UserName");
	}
	<input type="hidden" id="currentUserName" value="@username" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script>
		$(document).ready(function () {
			
			function fetchNotificationCount() {
				$.ajax({
					type: "GET",
					url: "/Notification/GetNotificationCount",
					success: function (data) {
						if (data > 0) {
							$("#notificationBadge").text(data).show();
						} else {
							$("#notificationBadge").hide();
						}
					},
					error: function (xhr, status, error) {
						console.error("Error fetching notification count:", error);
					}
				});
			}
			function fetchProjectIDs() {
				var currentUserName = $("#currentUserName").val();

				$.ajax({
					type: "GET",
					url: "/Notification/GetProjectIDs",
					success: function (data) {
						var projectList = $("#projectList");
						projectList.empty();
						var maxItems = 3;
						var itemsToShow = data.slice(0, maxItems);
						if (itemsToShow.length === 0) {
							projectList.append($("<li>").text("No notifications").addClass("empty-item"));
						} else {
							itemsToShow.forEach(function (project) {
								var assignee = (currentUserName === project.assignee) ? "you." : project.assignee;
								if (project.assignee === project.assigner) {
									assignee = "himself.";
								}
								// var li = $("<li>").html('<span style="display: inline-block; width: 10px; height: 10px; border-radius: 50%; background-color: black; margin-right: 8px;"></span>' + project.assigner + ' ' + project.message + ' ' + assignee);
								var li = $("<li>").html('<span style="display: inline-block; width: 10px; height: 10px; border-radius: 50%; background-color: black; margin-right: 8px;"></span>' + project.assigner + ' ' + project.message + ' ' + assignee);

								// Create a link element for "View Details"
								var viewDetailsLink = $('<a>')
									.attr('href', '/Tasks/Details/' + project.projectID) 
									.text('View Details')
									.css({
										'display': 'block',
										'padding-bottom': '5px',
										'text-decoration': 'none',
										'margin-bottom': '2px'
									});

								// Append the link to the <li> element
								li.append(viewDetailsLink);





								if (project.flag === "True") {
									li.addClass("highlighted");
								}
								li.click(function () {
									changeFlag(project.nid);
									console.log(project.nid);
								});
								projectList.append(li);
							});
							if (data.length > 1) {
								var showMoreLink = $("<a>").text("Show More").attr("href", "/Notification/Notification").addClass("show-more-link");
								projectList.append($("<li>").append(showMoreLink));
							}
						}
					},
					error: function (xhr, status, error) {
						console.error("Error fetching project IDs:", error);
					}
				});
			}

			fetchNotificationCount();
			fetchProjectIDs();

			function changeFlag(nID) {
				$.ajax({
					type: "POST",
					url: "/Notification/ChangeFlag",
					data: { ID: nID },
					success: function (response) {
						fetchProjectIDs();
						fetchNotificationCount();
					},
					error: function (xhr, status, error) {
						console.error("Error changing flag:", error);
					}
				});
			}
		});
	</script>
	<script>
		function setActiveLink() {
			var path = window.location.pathname;
			var links = $('.sidebar ul li a');
			links.removeClass('active-link');
			if (path === "/NHA/NHA" || path === '/Epic/Epic' || path === '/Disability/Disability') {
				$('#tools-link').addClass('active-link');
				return;
			}
			links.each(function () {
				var href = $(this).attr('href');
				var linkName = href.substring(href.lastIndexOf('/') + 1);
				if (path.includes(linkName)) {
					$(this).addClass('active-link');
				}
			});
		}
		$(document).ready(function () {
			setActiveLink();
		});

		var currentPath = window.location.pathname;

		var firstWord = currentPath.split('/')[1];

		// Get the h2 element
		var h2Element = document.querySelector('.navbar-collapse h2');

		// Update the h2 content with the first word from the path
		h2Element.textContent = firstWord;
	</script>
	<script>
		$(document).ready(function () {
			$(".notification-drop .item").on('click', function (event) {
				event.stopPropagation();
				$(this).find('ul').toggle();
			});

			$(document).on('click', function (event) {

				if (!$(event.target).closest('.notification-drop').length) {
					$(".notification-drop .item ul").hide();
				}
			});
		});
	</script>
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			var username = "@username";
			var userInitial = getUserInitial(username);
			var userInitialSpan = document.getElementById("user-initial");
			// Clear existing content of the span
			userInitialSpan.innerHTML = "";
			var userInitialNode = document.createTextNode(userInitial);
			userInitialSpan.appendChild(userInitialNode);
			userInitialSpan.style.fontSize = "18px";
			userInitialSpan.style.position = "relative";
		});

		function getUserInitial(username) {
			var words = username.split(" ");
			var firstInitial = words[0].charAt(0).toUpperCase();
			var secondInitial = words.length > 1 ? words[1].charAt(0).toUpperCase() : "";
			return firstInitial + secondInitial;
		}
	</script>

	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.4/xlsx.full.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
